@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #0f0f0f;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif !important;
    color: #FFFFFF;
    margin: 0;
}

#app {
    width: 100vw;
    height: 100vh;
}

.sep {
    height: 1px;
    width: 10.5em;
    margin: 2em auto;
    background-color: #FFFFFF26;
}